{% extends "base.html" %}
{% load webdesign %}

{% block content %}
<form method="post" action="." class="form-horizontal">

	<div class="container-narrow">
	    <div class="masthead">
        <ul class="nav nav-pills pull-right">
{% comment %}
                     <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About</a></li> 
        
        {% endcomment %}        </ul>
        <h3 class="muted">Story Game</h3>
      </div>

      <hr>

      <div class="jumbotron" style="text-align:center">
        <h1>{{ story.name }}</h1>
        <h6 class="text-info">Cada uno escribe un pedazo del cuento sabiendo solo las últimas palabras de la linea anterior. Así empieza y te toca a vos escribir como sigue.</h6>
        <p class="lead">"{{ story.first_line }} .......</p>
        {% for line in story.lines.all %}
        {% if not forloop.first and not forloop.last  %}
          <p style="color:#F2F2F2"> {% lorem 16 w random %} </p>
        {% endif %}
        {% endfor %}

        {% if story.lines.count > 1 %}
          <p class="lead">........ {{ story.last_line.last_words }} ..."</p>
        {% endif %}

        {% csrf_token %}
        <p>
        <input type="text" id="id_line-line" style="width:80%" name="line-line"/>
        </p>

        <p>
        <button type="submit" class="btn btn-large btn-success">Guardar</button>
        </p>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; NowhereFarm 2012</p>
      </div>
    </div> <!-- /container -->
	</form>
{% endblock content %}