<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" class="js inlinesvg svg" xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">

    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"/>
    
    {% block css %}
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% endblock %}


    {% block js_head %}
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% endblock %}

</head>
<body>
    <div class="container" id="wrapper">
    {% block content %}
    {% endblock %}
    </div>

    {% block js_body %}
    {% endblock %}
</body>
</html>